/* 全局背景图层 */
#global-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/img/default.jpg') no-repeat center center;
  background-size: cover;
  z-index: -9999;
  pointer-events: none;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}